<!-- <h2>Overview</h2> -->
<!-- <mat-tab-group>
    <mat-tab label="Introduction">  -->
        <div class="content">
    <h4>Introduction</h4>
    <div>Edge web component library is a web component library created using stenciljs. The main purpose of the library is to create reusable components which can be used in any framework.</div> <br>
</div>
<div class="content">
    <h4>How to use</h4>
    <p>Use the below command to install the package</p>
    <div class="code-snippet">
<button [cdkCopyToClipboard]="dynamicText()"><mat-icon>content_copy</mat-icon></button>
<pre class="content" id="content">    
<code id="install-code">     npm install edge-web-comp-lib       
</code>
</pre>
</div>
<h4>Angular</h4>
<p>Including the <strong>CUSTOM_ELEMENTS_SCHEMA</strong> in the app.module.ts allows the use of the web components </p>
<img src="../../assets/custom_elements.PNG"/>
<p><strong>defineCustomElements()</strong> needs to be called once during the bootstrapping of your application to load the components in the collection. </p>
<img src="../../assets/calldefinecustomelemet.PNG"/>

</div>
<!-- </mat-tab>
</mat-tab-group> -->